{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns">
        <div class="column is-8 is-offset-4">
            <section class="section home">
                <div class="container">
                    <h1 class="title">Cadastro de alunos e professores</h1>
                    <h2 class="subtitle">Lorem Ipsum</h2>
                    <div class="upload-form">
                        <form action="/file-upload" class="dropzone" id="dropzone">
                            <div class="dz-message" data-dz-message><span><i class="fas fa-upload fa-lg"></i></span><p>Arraste seus arquivos para esta área</p></div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('assets/js/dropzone.js') }}"></script>
    <script>
        $("div#dropzone").dropzone(
            { 
               url: "/file/post",
               dictDefaultMessage: "Teste"
            }
        );
    </script>
{% endblock %}
