{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form action="/file-upload"
        class="dropzone"
        id="dropzone"></form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ asset('assets/js/dropzone.js') }}"></script>
<script>
    $("div#dropzone").dropzone({ url: "/file/post" });
</script>
{% endblock %}
